<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">

        <meta name="description" content="{{description}}">
        <meta name="author" content="Thomas Belin">

        <meta name="twitter:card" content="summary">
        <meta name="twitter:title" content="{{title}}">
        <meta name="twitter:description" content="{{description}}">
        <meta name="twitter:site" content="@ThomasBelin4">
        <meta name="twitter:creator" content="@ThomasBelin4">
        <meta name="twitter:image" content="http://thomasbelin.fr/images/avatar_o.jpeg">

        <meta property="og:type" content="article">
        <meta property="og:title" content="{{title}}">
        <meta property="og:description" content="{{description}}">
        <meta property="og:image" content="http://thomasbelin.fr/images/avatar_o.jpeg">
        <meta property="article:author" content="Thomas Belin">

        <title>{{title}}</title>
        <link href="/css/application.css" type="text/css" rel="stylesheet">
    </head>
    <body>
        <header>
            <a href="/">Thomas Belin</a>
        </header>
        {{>body}}
    </body>
</html>
